#navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    font-size: 14px;
    color: #fff;
    z-index: 1;
}

#navbar:hover {
    background-color: rgba(0, 0, 0, .3);
}

#navbar .logo a {
    display: block;
    width: 128px;
    height: 60px;
    font-size: 0;
    background: url("../img/logo.png") no-repeat 0 14px;
}

#navbar .stock-code {
    box-sizing: border-box;
    float: left;
    width: 50px;
    height: 60px;
    margin-left: 8px;
    padding-top: 20px;
    line-height: 12px;
    font-size: 12px;
}

#navbar .nav-list > li {
    display: inline-block;
    margin-left: 20px;
    line-height: 60px;
    text-align: center;
}

#navbar .nav-list li.fold-item {
    width: 120px;
    line-height: 16px;
    vertical-align: middle;
}

#navbar .sidebar > li {
    display: inline-block;
    margin: 0 12px;
    line-height: 60px;
}

#navbar .sidebar a.link-free {
    padding: 3px 6px;
    color: #279ce4;
    border-radius: 2px;
    background-color: #fff;
}

#navbar .sidebar a.link-manager {
    padding: 3px 6px;
    border: 1px solid #fff;
    border-radius: 2px;
}

#top-banner {
    height: 500px;
    color: #fff;
    background-color: #1746d2;
}

#top-banner .container {
    position: relative;
    background: url("../img/ban_buss.png") no-repeat right bottom;
}

#top-banner .content {
    position: absolute;
    top: 110px;
    left: 40px;
}

#top-banner .content > li h2 {
    font-size: 58px;
}

#top-banner .content > li p {
    margin-top: 15px;
    font-size: 24px;
    letter-spacing: 6px;
}

#top-banner .content > li .btn-try {
    display: block;
    width: 180px;
    height: 50px;
    margin-top: 75px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 22px;
}

#top-banner .content > li .btn-try:hover {
    color: #2589ff;
    background-color: #fff;
}

#top-banner .pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#top-banner .pagination > li {
    display: inline-block;
    width: 16px;
    height: 6px;
    background-color: #fff;
    opacity: .3;
}

#top-banner .pagination > li.active {
    opacity: 1;
}

#top-banner .pagination > li:hover {
    opacity: 1;
}

#announcement {
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    color: #595961;
    background-color: #f7f8fb;
}

#announcement .content-list > li {
    display: inline-block;
    position: relative;
    margin-left: 120px;
}

#announcement .content-list > li::before {
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    top: 20px;
    width: 10px;
    height: 10px;
    background-image: url("../img/icon_list.png");
}

.info .content {
    padding-top: 100px;
    color: #595961;
}

.info .content h2 {
    font-size: 30px;
}

.info .content p {
    margin: 15px 0 65px;
    font-size: 18px;
}

#business {
    height: 650px;
    text-align: center;
}

#business .content-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 220px;
    color: #595961;
}

#business .content-list > li {
    position: relative;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
}

#business .content-list > li img {
    width: 270px;
    height: 140px;
}

#business .content-list > li h3 {
    font-size: 18px;
}

#business .content-list > li h3::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin: 6px auto;
    background-color: #2d5be5;
}

#business .content-list > li > p {
    font-size: 14px;
    color: #999;
}

#business .content-list > li .detail {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 270px;
    height: 220px;
    padding: 25px 20px 10px;
    color: #71717a;
    background-color: #fff;
    transition: .3s;
    opacity: 0;
}

#business .content-list > li:hover .detail {
    opacity: 1;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .1);
}

#business .detail .title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

#business .detail .description,
#business .detail .more {
    text-align: left;
    font-size: 14px;
}

#business .detail .more::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px 0;
    background-color: #2d5be5;
}

#business .detail .find {
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    color: #2589ff;
    border-top: 1px solid #e3e2e5;
}

#business .detail .find span {
    position: relative;
    top: -10px;
    padding: 0 20px;
    background-color: #fff;
}

#business .centent-input {
    display: flex;
    width: 440px;
    height: 50px;
    margin: 50px auto 0;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

#business .centent-input input {
    width: 280px;
    padding: 3px 18px;
    border: 1px solid #7cb8ff;
    font-size: 18px;
    outline: 0;
}

#business .centent-input input:focus {
    border-color: #2589ff;
}

#business .centent-input input:focus + a {
    background-color: #2589ff;
}

#business .centent-input a {
    width: 160px;
    color: #fff;
    background-color: #7cb8ff;
}

#needs {
    height: 860px;
    color: #fff;
    background: url("../img/bg_ds.jpg") center / cover;
}

#needs.info .content {
    text-align: center;
    color: #fff;
}

#needs .detail {
    height: 500px;
}

#needs .detail .sidebar {
    float: left;
    width: 150px;
    height: 100%;
    text-align: center;
    border-right: 4px solid rgba(255,255,255,.3);
}

#needs .detail .sidebar>li {
    width: 120px;
    margin-bottom: 10px;
    line-height: 40px;
    transition: .3s;
}

#needs .detail .sidebar>li.active {
    background-color: #2589ff;
}

#needs .detail .sidebar>li:hover {
    background-color: #2589ff;
}

#needs .detail-content {
    float: left;
    width: 950px;
    margin-top: 20px;
    margin-left: 60px;
}

#needs .detail-content h3 {
    font-size: 26px;
}

#needs .detail-content>p {
    margin-top: 20px;
    line-height: 30px;
}

#needs .icon-group {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#needs .icon-group>li {
    width: 70px;
    height: 105px;
}

#needs .icon-group>li .icon {
    width: 70px;
    height: 70px;
    background-image: url("../img/icon_group.png");
}

#needs .icon-group>li p {
    margin-top: 18px;
    text-align: center;
    font-size: 12px;
}

#needs .icon-group>li:nth-child(1) .icon{
    background-position: 0 -3900px;
}
#needs .icon-group>li:nth-child(2) .icon{
    background-position: 0 -1950px;
}
#needs .icon-group>li:nth-child(3) .icon{
    background-position: 0 -375px;
}
#needs .icon-group>li:nth-child(4) .icon{
    background-position: 0 -1350px;
}
#needs .icon-group>li:nth-child(5) .icon{
    background-position: 0 -825px;
}
#needs .icon-group>li:nth-child(6) .icon{
    background-position: 0 -1050px;
}
#needs .icon-group>li:nth-child(7) .icon{
    background-position: 0 -3750px;
}
#needs .icon-group>li:nth-child(8) .icon{
    background-position: 0 -1275px;
}

#needs .link-group {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-top: 1px dashed rgba(255,255,255,.2);
}

#needs .link-group>li {
    width: 180px;
    height: 180px;
    background-position: center;
    background-size: cover;
}

#needs .link-group>li:nth-child(1) {
    background-image: url("../img/ahs.png");
}
#needs .link-group>li:nth-child(2) {
    background-image: url("../img/bcw.png");
}
#needs .link-group>li:nth-child(3) {
    background-image: url("../img/yjkd.png");
}
#needs .link-group>li:nth-child(4) {
    background-image: url("../img/qiaq.png");
}

#smart {
    height: 690px;
    text-align: center;
}

#locate {
    height: 930px;
    text-align: center;
    background: #f1f1f5 url("../img/f5_bg.png") no-repeat center / cover;
}